/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body style*/

html, body {
  width: 100%;
  height: 100%;
  background-color: #E5E6E4;
  position: absolute;
}

/*flex wrapping project*/
.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
/*header style*/

header {
  width: 100vw;
  height: 80px;
  background-color: #2C4251;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color:#e5e6e4;
  text-shadow: 5px 5px 5px #de6449;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}
.navigation {
  display: flex;
  align-items: center;
}
.list {
  list-style-type: none;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.list a {
  padding-right: 100px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #e5e6e4;
  text-shadow: 5px 5px 5px #DE6449;
}

.navList {
  margin-left: 25px;
  padding-right: 100px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #e5e6e4;
  text-shadow: 5px 5px 5px #DE6449;
}

/*footer style*/

.contact-me {
  width: 100vw;
  height: auto;
  background-color: #2C4251; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color:#e5e6e4;
  text-shadow: 5px 5px 5px #de6449;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
  
/*about me style*/

.profile-img {
  float: left;
  width: auto;
  max-height: 250px;
  margin-left: 150px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px black;
}

.about-me {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  
}
.side-bar1 {
  margin: 65px 0px 65px 0px;
  padding: 25px 25px 25px 25px;
  border-right: 3px solid #2c4251;
  display: flex;
  flex-wrap: wrap;
}
.side-bar1 h2 {
  font-size: 45px;
  color: black;
  font-family: 'Roboto', sans-serif; 
}
.text {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  color: black;
  font-family:'Lato', sans-serif;
}
/* project*/

.projectDiv {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
}

.projectImages {
  width: 250px;
  height: 250px;
}

.deployed {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #070101;
  text-shadow: 5px 5px 5px #DE6449;
}

/*Form*/

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-h1 {
  color:#080808;
  text-shadow: 5px 5px 5px #de6449;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.contact-form-info {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

input[type=text] {
  padding: 10px;
  border-radius:5px;
  border: none;
  outline: none;
}
input[type=email] {
  padding: 10px;
  border-radius:5px;
  border: none;
  outline: none;
}
.message-holder {
  margin-top: 15px;
}

.message {
  border-radius:5px;
  border: none;
  resize: vertical;
  outline: none;
  width: 100%;
}

button {
  width: 45%;
  border-radius: 15px;
  border: none;
  outline: none;
  color:#080808;
}

/*resume*/

.resume-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-h1 {
  color:#080808;
  text-shadow: 5px 5px 5px #de6449;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

/*media queries*/

@media screen and (max-width: 1500px) {
  header {
      height: auto;
      flex-direction: column;
      align-items: center;
      padding-bottom: 25px;
  }
  footer {
      height: auto;
      flex-direction: column;
      align-items: center;
      padding-bottom: 25px;
  }
  .name, .contact {
      margin: 0;
      padding-bottom: 15px;
  }
  .navigation {
      width: 100vw;
      padding-right: 0;
  }
  .navigation ul {
      width: 100vw;
      justify-content: space-around;
  }
  ul a {
      padding-right: 0;
  }
  
}
@media screen and (max-width: 1105px){
  .about-me, .work{
      flex-direction: column;
  }
  .about-me h2, .work h2 {
      margin: 0px auto;
      text-align: center;
      border-bottom: 3px solid #2c4251;
  }
  .side-bar1, .side-bar2 {
      border-right: 0;
      margin: 0;
      padding: 10px 0px;
  }
  .text {
      margin: 0 auto;
      padding: 30px 0px;
  }
  .pictures, .horesion {
      width: auto;
      margin: 20px auto;
      
  }
  .small-pic {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 25px;
      
  }
  .small-pic img {
      margin: 0px;
  }
}
@media screen and (max-width: 950px) {
  .name, .contact{
      font-size: 36px;
  }
  .navigation ul {
      flex-direction: column;
  }
  ul a {
      font-size: 20px;
  }
  ul li {
      margin-bottom: 10px;
  }
  .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .profile-img {
      margin-left: 0;
  }
  .hero h2 {
      right: auto;
  }
  .side-bar1 h2{
      font-size: 32px;
  }
  .text {
      font-size: 16px;
  }
  .side-bar2 h2 {
      font-size: 32px;
  }

}
@media screen and (max-width: 600px){
  
  .pictures {
      max-width: 80%;
  }
   .project-2, .project-3 {
      padding-bottom: 20px;
  }
}